<!-- Nutzerkarte -->
<div class="card h-100">
    <div class="card-body">
        <h5 class="card-title">
            <%= borrow.id %>
        </h5>
        <p class="card-text">Ausleiher: <a href="/users/<%=borrow.manager.id%>">
                <%= borrow.manager.name %>
            </a>
        </p>
        <p class="card-text">Equipment: <% borrow.equipments.forEach((equipment)=> { %>
                <p><a href="/equipment/<%=equipment.id%>">
                        <%=equipment.title%>
                    </a>
                </p>
                <%});%>
        </p>
        <p class="card-text">Startdatum: <%= borrow.start %>
        </p>
        <p class="card-text">Enddatum: <%= borrow.end %>
        </p>
        <form action="/borrows/delete/<%= borrow.id %>" method="POST">
            <button type="submit" class="btn btn-success">Zurückgegeben</button>
        </form>


    </div>
</div>