<!-- Nutzerkarte -->
<% const today=new Date(); const end=new Date(locals.borrow.end); console.log(today); console.log(end); %>
<% if (today>end) { %>
<div class="card h-100 d-flex flex-column border-10 border-danger">
  <h5 class="card-header text-center">Diese Ausleihe ist überfällig!</h5>
  <% } else { %>
  <div class="card h-100 d-flex flex-column">
    <% } %>
    <div class="card-body flex-grow-1">
      <p class="card-text">ID: <%=borrow.id%>
      </p>
      <p class="card-text">Ausleiher: <a href="/users/<%=borrow.manager.id%>">
          <%= borrow.manager.name %>
        </a>
      </p>
      <p class="card-text">Equipment: <% borrow.equipments.forEach((equipment)=> { %>
      <p><a href="/equipment/<%=equipment.id%>">
          <%=equipment.title%>
        </a>
      </p>
      <%});%>
      </p>
      <p class="card-text">Startdatum: <%= borrow.start %>
      </p>
      <p class="card-text">Enddatum: <%= borrow.end %>
      </p>
    </div>
    <div class="card-footer mt-auto">
      <form action="/borrows/delete/<%= borrow.id %>" method="POST">
        <a href="/borrows/<%= borrow.id %>" class="btn btn-secondary">Details</a>
        <button type="submit" class="btn btn-success">Zurückgeben</button>
      </form>
    </div>
  </div>
  <script>
  </script>