<% data.forEach((equipment)=> { %>
    <div class="card">
        <img src="HTTP://localhost:3000<%= equipment.pic %>" class="card-img-top equipPic" alt="...">
        <div class="card-body">
            <h5 class="card-title">
                <%= equipment.title %>
            </h5>
            <p class="card-text">
                <%= equipment.description %>
            </p>
            <p class="card-text">Verfügbar: <%= equipment.count %> Stück</p>
            <p class="card-text">
            <p>ID: <%= equipment.id %> - Article No.: <%= equipment.articlenumber %> - UserID: <%= equipment.userid %>
            </p>
            <a href="/equipment/<%= equipment.id %>" class="btn btn-primary">Ausleihen</a>
            <% if (equipment.edit){ %>
                <a href="/equipment/edit/<%= equipment.id %>" id="editButton" class="btn btn-warning"><img
                        src="../img/pencil.png"></a>
                <a href="/equipment/delete/<%=equipment.id%>" id="deleteButton" class="btn btn-danger"><img
                        src="../img/trash.png"></a>
                <%}%>
                    <!--this div is hidden-->
                    <!--LEGACY CODE
                    <div class="deleteConfirm" id="deleteConfirm<%= equipment.id %>">
                        <div class="deleteTitle">
                            <h1>Löschen</h1>
                        </div>
                        <div class="deleteText">
                            <p>Wollen Sie <%= equipment.title %> wirklich löschen?</p>
                        </div>
                        <div class="confrimButtons">
                            <a href="/equipment/delete/<%= equipment.id %>" class="btn btn-danger">Ja</a>
                            <button onclick=deletefunction(<%=equipment.id %>) id="cancelDelete" class="btn
                                btn-primary">Nein</button>
                        </div>
                    </div>
-->
        </div>
    </div>
    <% }); %>