<div class="page">
    <div class="singleEquip">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                <div class="singleEquipImage"> <img src="HTTP://localhost:3000<%= data.pic %>" alt="equip"></div>
                </div>

                <div class="col-md-6" id="infos">
                    <h1><%= data.title %></h1>
                    <p><%= data.description %></p>
                    <p>Artikelnummer: <%= data.articlenumber %></p>
                    <p>Verfügbar: <%= data.count %></p>
                    <button class="btn btn-primary">Jetzt Ausleihen</button>
                    <button onclick=editfunction(<%= data.id %>) id="editButton" class="btn btn-warning"><img src="../img/pencil.png"></button>
                </div>
                <!-- FORMULAR ZUM EDITIEREN -->
                <div class="col-md-6" id="editInfos">
                    <div class="mb-3 abstand01rem">
                        <label for="title" class="form-label"></label>
                        <input type="text" class="form-control" id="title" name="title" value="<%= data.title %>" required>
                    </div>
                    <div class="mb-3 abstand01rem">
                        <label for="description" class="form-label"></label>
                        <input type="text" class="form-control" id="description" name="description" value="<%= data.description %>" required>
                    </div>
                    <div class="mb-3 abstand01rem">
                        <label for="articlenumber" class="form-label"></label>
                        <input type="text" class="form-control" id="description" name="articlenumber" value="<%= data.articlenumber %>" required>
                    </div>
                    <div class="mb-3 abstand01rem">
                        <label for="count" class="form-label"></label>
                        <input type="number" class="form-control" id="description" name="description" value="<%= data.count %>" required>
                    </div>
                    <button class="btn btn-primary">SPEICHERN</button>
                    <button onclick=editfunction(<%= data.id %>) id="editButton" class="btn btn-warning">ABBR</button>
                </div>

            </div>
        </div>
    </div>
</div>