<!-- Nutzerkarte -->
<div class="card h-100 d-flex flex-column">
  <!-- Card title with link to user profile -->
  <h5 class="card-title card-header">
    <a href="/users/<%= user.id %>">
      <%= user.username %>
    </a>
  </h5>
  <!-- Card body with user details -->
  <div class="card-body flex-grow-1">
    <!-- User ID -->
    <p class="card-text">ID: <%= user.id %></p>
    <!-- User email -->
    <p class="card-text">E-Mail: <%= user.email %></p>
    <!-- User role -->
    <p class="card-text">Rolle: <%= user.role %></p>
    <!-- Date when the user was created -->
    <p class="card-text">Erstellt am: <%= user.created %></p>
  </div>
  <!-- Card footer with edit and delete buttons -->
  <div class="card-footer mt-auto">
    <!-- Edit button -->
    <a href="/users/edit/<%= user.id %>" id="editButton" class="btn btn-warning">
      <img src="../img/pencil.png" alt="Edit">
    </a>
    <!-- Delete button -->
    <a href="/users/delete/<%= user.id %>" id="deleteButton" class="btn btn-danger">
      <img src="../img/trash.png" alt="Delete">
    </a>
  </div>
</div>