<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nutzer löschen</title>
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" href="/img/logoGR.png" type="image/x-icon">
</head>

<body>
  <!-- Einbinden der Navbar -->
  <%- include ('../partials/navbar') %>
  <!-- Einbinden der Alert-Meldungen -->
  <%- include ('../partials/alerts') %>

  <div class="container my-5">
    <!-- Karte zur Anzeige der Nutzerdetails -->
    <div class="card">
      <div class="card-body">
        <!-- Anzeige des Benutzernamens -->
        <h5 class="card-title">
          <%= user.username %>
        </h5>
        <!-- Anzeige der Benutzer-ID -->
        <p class="card-text">ID: <%= user.id %></p>
        <!-- Anzeige der E-Mail-Adresse -->
        <p class="card-text">E-Mail: <%= user.email %></p>
        <!-- Anzeige der Rolle des Nutzers -->
        <p class="card-text">Rolle: <%= user.role %></p>
        <!-- Anzeige des Erstellungsdatums -->
        <p class="card-text">Erstellt am: <%= user.created %></p>
      </div>
    </div>

    <div class="mt-4">
      <h1>Löschen</h1>
      <!-- Sicherheitsabfrage, ob der Nutzer wirklich gelöscht werden soll -->
      <p>Wollen Sie den Nutzer <%= user.username %> wirklich löschen?</p>
      <!-- Formular zur Löschung des Nutzers -->
      <form action="/users/delete/<%= user.id %>" method="POST" class="d-inline">
        <button type="submit" class="btn btn-danger">Ja</button>
        <input type="hidden" name="id" value="<%= user.id %>">
      </form>
      <!-- Abbrechen-Button -->
      <a href="/users" class="btn btn-primary">Nein</a>
      <!-- Bearbeiten-Button -->
      <a href="/users/edit/<%= user.id %>" class="btn btn-warning">Bearbeiten</a>
    </div>
  </div>

  <!-- Einbinden des Footers -->
  <%- include ('../partials/footer') %>
</body>

</html>