<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutzer bearbeiten</title>
</head>

<body>

    <%- include ('../partials/header') %>
        <%- include ('../partials/navbar') %>
            <%- include ('../partials/alerts') %>

                <form action="/users/edit/?id=<%=user.id%>" method="POST">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="username" name="username" value="<%= user.username %>" required>
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" name="password" value="<%= user.password %>" required>
                    <label for="email" class="form-label">Email Adresse</label>
                    <input type="email" id="email" name="email" value="<%= user.email %>" required>
                    <label for="role" class="form-label">Rolle</label>
                    <select name="role" id="role">
                        <option value="1" <% if (user.role=="Administrator" ) { %> selected <% } %>>Admin</option>
                        <option value="2" <% if (user.role=="Standard" ) { %> selected <% } %>>User</option>
                        <option value="3" <% if (user.role=="Gast" ) { %> selected <% } %>>Gast</option>
                    </select>
                    <input type="hidden" name="id" value="<%= user.id %>">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

                <%- include ('../partials/footer') %>

</body>

</html>