<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nutzer bearbeiten</title>
  <!-- Einbinden der Bootstrap- und benutzerdefinierten CSS-Dateien -->
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" href="/img/logoGR.png" type="image/x-icon">
</head>

<body>
  <!-- Einbinden der Navbar -->
  <%- include ('../partials/navbar') %>
  <!-- Einbinden der Alerts für Benachrichtigungen -->
  <%- include ('../partials/alerts') %>

  <div class="container my-5">
    <!-- Überschrift für die Seite -->
    <h1 class="text-center mb-4">Nutzer bearbeiten</h1>
    <!-- Formular zum Bearbeiten der Nutzerdaten -->
    <form action="/users/edit/<%= user.id %>" method="POST">
      <!-- Eingabefeld für den Benutzernamen -->
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" value="<%= user.username %>" required>
      </div>
      <!-- Eingabefeld für das Passwort -->
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" value="<%= user.password %>" required>
      </div>
      <!-- Eingabefeld für die E-Mail-Adresse -->
      <div class="mb-3">
        <label for="email" class="form-label">Email Adresse</label>
        <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>" required>
      </div>
      <!-- Dropdown zur Auswahl der Rolle -->
      <div class="mb-3">
        <label for="role" class="form-label">Rolle</label>
        <select class="form-select" name="role" id="role">
          <option value="1" <% if (user.role=="Administrator" ) { %> selected <% } %>>Admin</option>
          <option value="2" <% if (user.role=="Standard" ) { %> selected <% } %>>User</option>
          <option value="3" <% if (user.role=="Gast" ) { %> selected <% } %>>Gast</option>
        </select>
      </div>
      <!-- Verstecktes Feld für die Benutzer-ID -->
      <input type="hidden" name="id" value="<%= user.id %>">
      <!-- Absenden-Button -->
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <!-- Einbinden des Footers -->
  <%- include ('../partials/footer') %>
</body>

</html>