<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutzer</title>
</head>

<body>

    <%- include ('../partials/header') %>
        <%- include ('../partials/navbar') %>
            <%- include ('../partials/alerts') %>
                <% if(locals.isSameUser){ %>
                    <a href="/login/logout" class="btn btn-primary">Log Out</a>
                    <% } %>
                        <%- include ('../partials/userCard',{"user":user}) %>
                            <%- include ('../partials/footer') %>

</body>

</html>