<div class="singleEquip">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="<%= data.pic %>" alt="equip">
            </div>
            <div class="col-md-6">
                <h1><%= data.title %></h1>
                <p><%= data.description %></p>
                <p>Artikelnummer: <%= data.articlenumber %></p>
                <p>Verfügbar: <%= data.count %></p>
                <button class="btn btn-primary">Jetzt Ausleihen</button>
            </div>
        </div>
    </div>

</div>