<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- include für bootstrap -->
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Warenkorb</title>
    <link rel="icon" href="/img/logoGR.png" type="image/x-icon">
</head>

<body>
    <!-- includes-->
    <%- include ('../partials/navbar') %>
        <%- include ('../partials/alerts') %>
            <div class="container my-5">
                <h1 class="text-center mb-4">Warenkorb</h1>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <% if (locals.cart && locals.cart.length> 0) { %>
                            <table class="table table-striped table-hover">
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col">Artikelnummer</th>
                                        <th scope="col">Titel</th>
                                        <th scope="col">Aktionen</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% cart.forEach((item)=> { %>
                                        <tr>
                                            <td>
                                                <%= item.articlenumber %>
                                            </td>
                                            <td><a href="/equipment/<%= item.id %>">
                                                    <%= item.title %>
                                                </a></td>
                                            <td>
                                                <form action="/cart/remove/<%= item.id %>" method="POST"
                                                    class="d-inline">
                                                    <button type="submit" class="btn btn-danger btn-sm">Löschen</button>
                                                </form>
                                            </td>
                                        </tr>
                                        <%}); %>
                                </tbody>
                            </table>
                            <!-- start and end date selector-->
                            <form action="/cart/checkout" method="POST">
                                <div class="mb-3">
                                    <% let startDate=new Date().toISOString().split('T')[0]%>
                                        <label for="start" class="form-label">Startdatum</label>
                                        <input type="date" class="form-control" id="start" name="start"
                                            value="<%=startDate%>" required>
                                        <% let endDate=new Date(new Date().getTime() + 14 * 24 * 60 * 60 *
                                            1000).toISOString().split('T')[0]%>
                                            <label for="end" class="form-label">Enddatum</label>
                                            <input type="date" class="form-control" id="end" name="end"
                                                value="<%= endDate%>" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Ausleihen</button>
                            </form>
                            <% } else { %>
                                <div class="alert alert-info text-center" role="alert">
                                    Der Warenkorb ist leer
                                </div>
                                <% } %>
                    </div>
                </div>
            </div>

            <%- include ('../partials/footer') %>
</body>

</html>